<div class="container margint30px">
  <div class="row">

    <div class="col-md-3">

      <div class="panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success btn-block" (click)="createBook(viewModal)">Nuevo Libro</button>
            </div>
          </div>

          <div class="list-group margint20px">
            <button type="button" class="list-group-item" [ngClass]="{'active': bookTypeSelected == 0 }" (click)="changeBookTypeSelected(0)"> Todos </button>
            <button type="button" *ngFor="let bt of listBookType" class="list-group-item" [ngClass]="{'active': bookTypeSelected == bt.id }" (click)="changeBookTypeSelected(bt.id)"> {{bt.description}} </button>
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-9">

      <div class="panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <input type="text" placeholder="Título" [(ngModel)]="filtroTitle" (keyup)="filterBooksByIdBookTypeAndTitle()" class="form-control width100 marginb4">
            </div>
          </div>

          <div class="row">
            <div *ngFor="let b of listBook" class="col-md-4 marginb4">
              <div class="imageBorder cursorPointer">
                <img *ngIf="!b.cover" width="100%" height="240px" src="../../assets/images/default.png" (click)="openViewModal(viewModal, b.id)">
                <img *ngIf="b.cover" width="100%" height="240px" src="data:image/png;base64,{{b.cover}}" (click)="openViewModal(viewModal, b.id)">
              </div>
              <div class="row">
                <div class="col-md-12 textAlignCenter">
                  <h4>{{b.title}}</h4>
                </div>
              </div>
            </div>
          </div> <!-- termina row-->

        </div>
      </div>

    </div>

  </div><!-- termina row -->
</div><!-- termina container-->

<!-- Modal -->
<ng-template #viewModal>

  <!-- Visualizando el libro -->
  <div class="modal-header" *ngIf="!isBeingEdited">
    <h4 class="modal-title pull-left">{{bookDto.title}} - {{bookDto.author}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Editando/creando el libro -->
  <div class="modal-header" *ngIf="isBeingEdited">
    <h4 class="modal-title pull-left">Edición / Creación Libro</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Visualizando el libro -->
  <div class="modal-body" *ngIf="!isBeingEdited">

    <div class="row">

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 imageBorder">
            <img *ngIf="!bookDto.cover" width="100%" height="300px" src="../../assets/images/default.png">
            <img *ngIf="bookDto.cover" width="100%" height="300px" src="data:image/png;base64,{{bookDto.cover}}">
          </div>
        </div>
        <div class="row margint3">
          <div class="col-md-12">
            <button class="btn btn-default btn-block" (click)="changeToEditMode()">Editar</button>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h4>Descripción:</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>{{bookDto.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary btn-block" *ngFor="let bf of listBookFile" (click)="downloadBookFile(bf)">Descargar libro en formato {{bf.format}}</button>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Editando/creando el libro -->
  <div class="modal-body" *ngIf="isBeingEdited">

    <div class="row" *ngIf="!deletedBook">

      <div class="col-md-5">

        <div class="row">
          <div class="col-md-12">

            <!-- Form para subir imagen -->
            <form>
              <div class="form-group">
                <label for="portada">Portada</label>
                <input id="portada" type="file" multiple="false" (change)="previewImage($event)" accept="image/*" [disabled]="!bookSaved">
              </div>

              <div class="form-group textAlignCenter imageBorder" *ngIf="imagePreview">
                <img width="270px" height="300px" [src]="imagePreview">
              </div>

              <div class="form-group textAlignCenter imageBorder" *ngIf="!imagePreview && bookDto.cover">
                <img width="270px" height="300px" src="data:image/png;base64,{{bookDto.cover}}">
              </div>

              <div class="alert alert-danger" *ngIf="errorImage">{{errorImage}}</div>
              <div class="alert alert-success" *ngIf="okImageAdd">La imagen se ha guardado correctamente</div>

              <div class="form-group textAlignCenter">
                <button [disabled]="loadingImage ||!bookSaved" (click)="uploadImage()" class="btn btn-primary">Editar Imagen</button>
              </div>

            </form>

          </div>
        </div>

      </div> <!-- Fin de la columna -->

      <div class="col-md-7">

        <div class="row">
          <div class="col-md-12">

            <form (ngSubmit)="saveBook(bookForm)" #bookForm="ngForm">

              <!-- la version y el id estaran presentes cuando el book se este editando y no creando -->
              <input *ngIf="bookDto.id" type="hidden" name="id" [(ngModel)]="bookDto.id" #id="ngModel">
              <input *ngIf="bookDto.version" type="hidden" name="version" [(ngModel)]="bookDto.version" #version="ngModel">

              <div class="form-group">
                <label for="title">Título</label>
                <input id="title" name="title" class="form-control" type="text" [(ngModel)]="bookDto.title" #title="ngModel" placeholder="Título" required [rangeLength]="[1, 100]"/>
                <div *ngIf="(title.touched || bookForm.submitted) && title.hasError('required')" class="alert alert-danger">El Título del libro es obligatorio</div>
                <div *ngIf="(title.touched || bookForm.submitted) && title.hasError('rangeLength')" class="alert alert-danger">El Título del libro debe estar comprendido entre 1 y 100 caracteres</div>
              </div>

              <div class="form-group">
                <label for="author">Autor</label>
                <input id="author" name="author" class="form-control" type="text" [(ngModel)]="bookDto.author" #author="ngModel" placeholder="Autor" required [rangeLength]="[1, 100]"/>
                <div *ngIf="(author.touched || bookForm.submitted) && author.hasError('required')" class="alert alert-danger">El Autor del libro es obligatorio</div>
                <div *ngIf="(author.touched || bookForm.submitted) && author.hasError('rangeLength')" class="alert alert-danger">El Autor del libro debe estar comprendido entre 1 y 100 caracteres</div>
              </div>

              <div class="form-group">
                <label for="description">Descripción</label>
                <textarea id="description" name="description" class="form-control" type="text" [(ngModel)]="bookDto.description" #description="ngModel" placeholder="Descripción" required [rangeLength]="[1, 500]"></textarea>
                <div *ngIf="(description.touched || bookForm.submitted) && description.hasError('required')" class="alert alert-danger">La Descipción del libro es obligatoria</div>
                <div *ngIf="(description.touched || bookForm.submitted) && description.hasError('rangeLength')" class="alert alert-danger">La Descripción del libro debe estar comprendida entre 1 y 500 caracteres</div>
              </div>

              <div class="form-group">
                <label for="bookTypeDto">Género</label>
                <select id="bookTypeDto" name="bookTypeDto" class="form-control" [(ngModel)]="bookDto.bookTypeDto.id" #bookTypeDto="ngModel" required>
                  <option [ngValue]="null">Seleccione Género</option>
                  <option *ngFor="let bt of listBookType" [ngValue]="bt.id">{{bt.description}}</option>
                </select>
                <div *ngIf="(bookTypeDto.touched || bookForm.submitted) && bookTypeDto.hasError('required')" class="alert alert-danger">El Género del libro es obligatorio</div>
              </div>

              <div class="alert alert-danger" *ngIf="errorSaveBook">{{errorSaveBook}}</div>
              <div class="alert alert-success" *ngIf="bookModified">El Libro se ha guardado correctamente</div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 col-md-offset-2 textAlignCenter">
                    <button type="button" [disabled]="!bookDto || !bookDto.id" (click)="openModal(modalDeleteBook)" class="btn btn-danger btn-block">Eliminar Libro</button>
                  </div>
                  <div class="col-md-4 textAlignCenter">
                    <button type="submit" [disabled]="loadingBook" class="btn btn-primary btn-block">Guardar Libro</button>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>


        <div class="row">
          <div class="col-md-12">

            <!-- Form para subir ficheros -->
            <form>
              <div class="form-group">
                <label for="bookFile">Ficheros</label>
                <input id="bookFile" type="file" multiple="false" (change)="uploadBookFile($event)" accept=".pdf, .epub, .mobi, .txt" [disabled]="!bookSaved">
              </div>

              <div class="row margint10px" *ngFor="let bf of listBookFile">
                <div class="col-md-9">
                  <button class="btn btn-default btn-block" (click)="downloadBookFile(bf)">Descargar libro en formato {{bf.format}}</button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-danger btn-block" (click)="deleteBookFile(bf.id)">Eliminar</button>
                </div>
              </div>
            </form>

          </div>
        </div>

      </div><!-- Fin de la columna -->

    </div>

    <div class="alert alert-success" *ngIf="deletedBook">El Libro se ha eliminado correctamente</div>


  </div>

</ng-template>

<!-- Modal eliminar book -->
<ng-template #modalDeleteBook>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{bookDto.title}} - {{bookDto.author}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <h2>¿Desea eliminar el libro?</h2>
    <div class="row">
      <div class="col-md-6">
        <button (click)="modalRef.hide()" class="btn btn-primary btn-block">No</button>
      </div>
      <div class="col-md-6">
        <button (click)="deleteBook()" class="btn btn-danger btn-block">Si</button>
      </div>
    </div>
  </div>

</ng-template>
